.App {
  background: black;
  position: relative;
}
.Btn {
  padding: 0;
  margin: 0;
  border: none;
}
.MainPage {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0)), url('./images/mainPageBackground.png');
  background-size: cover;
  background-position: bottom;
  height: 100vh;
} 
.MainText {
  color: #EEEEEE;
  padding-top: 15%;
  font-size: 3rem;
  line-height: 100px;
  font-weight: 900;
}
.AdditionalText {
  padding-top: 5%;
  color: #EEEEEE;
  opacity: 0.8;
  font-size: 1rem;
}
.CharacterInfo{
  background-color: yellow;
  position: sticky;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  z-index: 2;
  width: 1000px;
  height: 100vh;
}
.Characters {
  z-index: 1;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  background: black;
}
.Character {
  position: relative;
  background: #202020;
  -webkit-box-shadow: 6px -6px 44px 14px rgba(85, 85, 85, 0.82); 
  box-shadow: 6px -6px 44px 14px rgba(85, 85, 85, 0.82);
}
/* CSSTransition react */
.animateCharacterInfo-enter {
  opacity: 0;
  transform: scale(0.9);
}
.animateCharacterInfo-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.animateCharacterInfo-exit {
  opacity: 1;
}
.animateCharacterInfo-exit-active {
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
/* medium and bigger screen sizes */
@media (min-width: 768px) {
  .MainText {
    padding-top: 8rem;
  }
  .AdditionalText {
    padding-top: 2%;
  }
}
@media (min-width: 992px) {
  .Characters {
    width: 990px;
    min-height: 100vh;
  }
  .Character {
    position: relative;
    background: black;
    -webkit-box-shadow: none; 
    box-shadow: none;
  }
  .Name {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0;
  }
  .Avatar {
    transition: transform .5s ease-out;
  }
  .Avatar:hover{
    transform: scale(.9);
    filter: brightness(.3);
  }
  /* Displays avatar animation and shows name at the same time */
  .Avatar:hover + .Name{
    opacity: 1;
  }
}