.App {
  background: black;
}
.MainPage {
  background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0) ), url('./images/mainPageBackground.png');
  background-size: cover;
  background-position: bottom;
  height: 100vh;
} 
.MainText {
  color: white;
  padding-top: 15%;
  font-size: 3rem;
  line-height: 100px;
  font-weight: 900;
}
.AdditionalText {
  padding-top: 5%;
  color: white;
  opacity: 0.8;
  font-size: 1rem;
}
.Characters {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  background: black;
}
/* medium and bigger screen sizes */
@media (min-width: 768px) {
  .MainText {
    padding-top: 8rem;
  }
  .AdditionalText {
    padding-top: 2%;
  }
}
@media (min-width: 1024px) {
  .Characters {
    width: 1000px;
    min-height: 100vh;
  }
}